In [1]:
# import required libraries

import pandas as pd
import requests

In [2]:
# extracting the zip file from github

url = 'https://git.generalassemb.ly/joeychewkw/DSI13-P4-G6/tree/master/assets/west_nile.zip'
r = requests.get(url, allow_redirects=True)
open('west_nile.zip', 'wb').write(r.content)

146166

In [3]:
# read csv directly from github for sample_submission.csv

url_sample_submission = 'https://raw.git.generalassemb.ly/joeychewkw/DSI13-P4-G6/master/assets/west_nile/input/sampleSubmission.csv?token=AAAGL6BAHGKTC6PVW6QURD26PV65U'

sample_submission = pd.read_csv(url_sample_submission, error_bad_lines=False)

In [4]:
# read csv directly from github for weather.csv

url_weather = 'https://raw.git.generalassemb.ly/joeychewkw/DSI13-P4-G6/master/assets/west_nile/input/weather.csv?token=AAAGL6AE54PCI5ULCI5C4UK6PV7NU'

weather = pd.read_csv(url_weather, error_bad_lines=False)

In [5]:
print(weather.shape)
print(weather.info())
weather.head()

(2944, 22)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2944 entries, 0 to 2943
Data columns (total 22 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Station      2944 non-null   int64
 1   Date         2944 non-null   object
 2   Tmax         2944 non-null   int64
 3   Tmin         2944 non-null   int64
 4   Tavg         2944 non-null   object
 5   Depart       2944 non-null   object
 6   DewPoint     2944 non-null   int64
 7   WetBulb      2944 non-null   object
 8   Heat         2944 non-null   object
 9   Cool         2944 non-null   object
 10  Sunrise      2944 non-null   object
 11  Sunset       2944 non-null   object
 12  CodeSum      2944 non-null   object
 13  Depth        2944 non-null   object
 14  Water1       2944 non-null   object
 15  SnowFall     2944 non-null   object
 16  PrecipTotal  2944 non-null   object
 17  StnPressure  2944 non-null   object
 18  SeaLevel     2944 non-null   object
 19  ResultSpeed  2944 non-null   float64
 20  ResultDir    2944 non-null   int64
 21  AvgSpeed     2944 non-null   object
dtypes: float64(1), int64(5), object(16)
memory usage: 506.1+ KB
None

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,...,CodeSum,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
0,1,2007-05-01,83,50,67,14,51,56,0,2,...,,0,M,0.0,0.00,29.10,29.82,1.7,27,9.2
1,2,2007-05-01,84,52,68,M,51,57,0,3,...,,M,M,M,0.00,29.18,29.82,2.7,25,9.6
2,1,2007-05-02,59,42,51,-3,42,47,14,0,...,BR,0,M,0.0,0.00,29.38,30.09,13.0,4,13.4
3,2,2007-05-02,60,43,52,M,42,47,13,0,...,BR HZ,M,M,M,0.00,29.44,30.08,13.3,2,13.4
4,1,2007-05-03,66,46,56,2,40,48,9,0,...,,0,M,0.0,0.00,29.39,30.12,11.7,7,11.9

In [23]:
weather['Sunset'].describe()

count     2944
unique     119
top          -
freq      1472
Name: Sunset, dtype: object

In [24]:
weather['Sunrise'].describe()

count     2944
unique     122
top          -
freq      1472
Name: Sunrise, dtype: object

In [10]:
weather['Depart'].describe()

count     2944
unique      42
top          M
freq      1472
Name: Depart, dtype: object

In [11]:
weather['Depth'].describe()

count     2944
unique       2
top          0
freq      1472
Name: Depth, dtype: object

In [13]:
weather['SnowFall'].describe()

count     2944
unique       4
top          M
freq      1472
Name: SnowFall, dtype: object

In [14]:
weather['Water1'].describe()

count     2944
unique       1
top          M
freq      2944
Name: Water1, dtype: object

In [18]:
weather.PrecipTotal.describe()

count     2944
unique     168
top       0.00
freq      1577
Name: PrecipTotal, dtype: object

## Data Cleaning Process

We have decided to drop 'codesum','water1','snowfall','depth' as they contained many entries that are either 0 or missing.

In [27]:
weather.drop(columns = ['CodeSum','Water1','SnowFall','Depth'], inplace = True)

Sunset, sunrise and depart contain missing M values. This is because station 2 does not collect these values. So we can replace it with station 1 values.

In [30]:
i = 0
while i < weather.shape[0]:
    weather.iloc[i+1, 5] = weather.iloc[i, 5]
    weather.iloc[i+1, 10] = weather.iloc[i, 10]
    weather.iloc[i+1, 11] = weather.iloc[i, 11]
    i+=2

In [32]:
weather.head()

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,Sunrise,Sunset,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
0,1,2007-05-01,83,50,67,14,51,56,0,2,0448,1849,0.00,29.10,29.82,1.7,27,9.2
1,2,2007-05-01,84,52,68,14,51,57,0,3,0448,1849,0.00,29.18,29.82,2.7,25,9.6
2,1,2007-05-02,59,42,51,-3,42,47,14,0,0447,1850,0.00,29.38,30.09,13.0,4,13.4
3,2,2007-05-02,60,43,52,-3,42,47,13,0,0447,1850,0.00,29.44,30.08,13.3,2,13.4
4,1,2007-05-03,66,46,56,2,40,48,9,0,0446,1851,0.00,29.39,30.12,11.7,7,11.9

### Replacing all the M values

In [39]:
#Tavg

def impute_missing_tavg(df):
    if df['Tavg'] == 'M': 
        df['Tavg'] = (df['Tmax'] - df['Tmin']) * 0.5 + df['Tmin']
    return df

weather = weather.apply(impute_missing_tavg, axis = 1)
weather.Tavg = weather.Tavg.astype('int64')

In [43]:
#WetBulb

def impute_missing_wetbulb(df): 
    if df['WetBulb'] == 'M':
        df['WetBulb'] = df['Tavg']-((df['Tavg']-df['DewPoint'])/3)
    return df

weather = weather.apply(impute_missing_wetbulb, axis = 1)

In [51]:
#weather['StnPressure'] = weather['StnPressure'].astype(float)


def impute_missing_rest(row): 
    if row['Heat'] == 'M':
        if row['Tavg'] >= 65: 
            row['Heat'] = 0
            row['Cool'] = row['Tavg'] - 65
        else: 
            row['Heat'] = 65 - row['Tavg']
            row['Cool'] = 0

    if row['PrecipTotal'] == '  T':
        row['PrecipTotal'] = 0
    if row['PrecipTotal'] == 'M':
        row['PrecipTotal'] = weather[weather.PrecipTotal!='M'][weather.PrecipTotal!='  T'].PrecipTotal.median()       
    if row['StnPressure'] == 'M':
        row['StnPressure'] = weather[weather.StnPressure!='M'].StnPressure.median()
    if row['SeaLevel'] == 'M':
        row['SeaLevel'] = weather[weather.SeaLevel!='M'].SeaLevel.median()
    if row['AvgSpeed'] == 'M':
        row['AvgSpeed'] = weather[weather.AvgSpeed!='M'].AvgSpeed.median()    
    return row

weather = weather.apply(impute_missing_rest, axis = 1)

/Users/Wilson/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:16: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  app.launch_new_instance()

In [52]:
weather.head()

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,Sunrise,Sunset,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
0,1,2007-05-01,83,50,67,14,51,56,0,2,0448,1849,0.00,29.10,29.82,1.7,27,9.2
1,2,2007-05-01,84,52,68,14,51,57,0,3,0448,1849,0.00,29.18,29.82,2.7,25,9.6
2,1,2007-05-02,59,42,51,-3,42,47,14,0,0447,1850,0.00,29.38,30.09,13.0,4,13.4
3,2,2007-05-02,60,43,52,-3,42,47,13,0,0447,1850,0.00,29.44,30.08,13.3,2,13.4
4,1,2007-05-03,66,46,56,2,40,48,9,0,0446,1851,0.00,29.39,30.12,11.7,7,11.9

In [53]:
weather.to_csv('weather_clean.csv',index=False)